:root {
  --g-duration: 20s; /* duración del desplazamiento del degradado */
  --o-duration: 18s; /* duración de la capa superpuesta */
  --overlay-opacity: 0.9;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section > * {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
